
.docs-container{
    display: flex;
    max-width: 90%;
    margin:  0 auto 1rem auto;
    gap: 1rem;
}
.docs-container .docs-body{
    display: flex;
    flex-direction: column;
    padding: 1rem 3%;
    background-color: var(--Elevation-01);
    box-shadow: var(--Shadow-02);
    border-radius: .5rem;
    flex-grow: 1;
    margin: .1rem;
}
/* Sidebar */
.sidebar{
    padding: 1rem .5rem;
    background-color: var(--Elevation-01);
    box-shadow: var(--Shadow-02);
    border-radius: .5rem;
    width:14rem ;
    margin: .1rem;
}
.sidebar ul{
    list-style: none;
    padding: .5rem;
    display: flex;
    flex-direction: column;
}

.sidebar a{
    padding: .5rem 1.6rem;
    border-radius: .25rem;
    text-align: left;
}
.sidebar a li{
    width: 100%;
    margin:  0;
    padding:  0;
    color: inherit;
}
.sidebar a:hover{
    background-color: var(--Elevation-01);
    box-shadow: var(--Shadow-02);
    border-left: .2rem solid var(--Teal-3);
}
.line-horz{
    height: .15rem;
    border: none;
    background-color: var(--color-black-02);
    margin: 1.5rem 0;
    margin-bottom: 2rem;
    
}

.showcase{
    display: flex;
    flex-flow: row wrap;
    padding: 1.5rem;
    margin: 1rem auto;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border : .1rem solid var(--color-black-02);
    border-radius:.25rem;
    
}
.showcase .btn-float-action{
    position: static;    
}
.showcase .alert{
    width: 100%;    
}
.code-snippet {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem 0;
    margin: .5rem 0;
    overflow: auto;
}

.col{
    flex-direction: column;
}

.sidebar a.link-active{
    color :var(--color-teal-02);
    background-color: var(--Elevation-04);
    box-shadow: var(--Shadow-02);
    border-left: .2rem solid var(--color-teal-02);
}
