/* @import url("../main.css"); */

.card {
    padding:.75rem;
    background-color: var(--Elevation-2);
    width: 15em;
    box-shadow: var(--Shadow-01);
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--Dark-4);
}
.card-media{
    width: 100%;
    object-fit: contain;
    border-radius: .25rem;
    background-color: var(--Elevation-1);
}
.media-cont{
    position: relative;
}
.card-title, .card-subtitle{
    margin: 0;
    padding:0
}
.card-action{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.card-action-icon{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-left: auto;
}
.card-title{
    color: var(--Light-4);

}
.card-text{
    margin:0;
    max-height: 5em;
    height: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    white-space:nowrap
}

.card .badge{
    transform: translate(-20%,20%);
    box-shadow: var(--Shadow-01);
}
.card .card-dismiss{
    position: absolute;
    padding: .1rem;
    margin:0;
    top:0;
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.card.shadow{
    box-shadow: var(--Shadow-03);
}
.card .overlay{
    height: 50%;
    background-color: var(--Dark-1);
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    opacity: .9;;
}

.card-horz{
    width: 20rem;
}
.card-horz .card-text , .text-card .card-text {
    white-space: normal;

}
.card-horz .card-media{
    flex-shrink: 1;
}
.card-horz .flex{
    gap: 1rem;
}

