

/*** Buttons ***/

.btn {
    border: none;
    /* font-size: 1rem; */
    text-align: center;
    padding: 0.375em 1.5em;
    border-radius: 0.375em;
    margin: 0.1em;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: var(--Shadow-02);
    font-family: var(--font-body);
    /* transition: all .4s ease-in-out; */
    background-color: var(--Elevation-02);
    color: var(--color-white-01);
    letter-spacing:.125rem;
}

/*** Contained Buttons ***/

.btn.btn-contained {
    background-color: var(--color-green-02);
    border: 2px solid var(--color-green-02) ;
    color: var(--color-white-01);
    opacity: 0.95;
}
.btn.btn-contained:hover {
    background-color: var(--color-green-01);
    border: 2px solid var(--color-green-01) ;
    color: var(--color-white-02);
    transition: all .3s ease-in-out;
}

.btn.btn-contained.red{
    background-color: var(--color-red-02);
    border: 2px solid var(--color-red-02) ;
}
.btn.btn-contained.red:hover {
    background-color: var(--color-red-01);
    border: 2px solid var(--color-red-01);
}

.btn.btn-contained.yellow {
    background-color: var(--color-yellow-02);
    border: 2px solid var(--color-yellow-02) ;
    color: var(--color-black-02);
}
.btn.btn-contained.yellow:hover {
    background-color: var(--color-yellow-01);
    border: 2px solid var(--color-yellow-01) ;
}

.btn.btn-contained.orange {
    background-color: var(--color-orange-02);
    border: 2px solid var(--color-orange-02) ;
}
.btn.btn-contained.orange:hover {
    background-color: var(--color-orange-01);
    border: 2px solid var(--color-orange-01) ;
}

.btn.btn-contained.teal {
    background-color: var(--color-teal-02);
    border: 2px solid var(--color-teal-02) ;
}
.btn.btn-contained.teal:hover {
    background-color: var(--color-teal-01);
    border: 2px solid var(--color-teal-01) ;
}

.btn.btn-contained.purple {
    background-color: var(--color-purple-02);
    border: 2px solid var(--color-purple-02) ;
}
.btn.btn-contained.purple:hover {
    background-color: var(--color-purple-02);
    border: 2px solid var(--color-purple-02) ;
}

/***  ***/

/*** Outline Buttons ***/

.btn.btn-outline {
    color: var(--color-green-02);
    border: 2px solid var(--color-green-02) ;
    background-color: inherit;
    opacity: 0.95;
}
.btn.btn-outline:hover {
    transition: all .3s ease-in-out;
    color: var(--color-green-00);
    border: 2px solid var(--color-green-00) ;
}

.btn.btn-outline.red{
    color: var(--color-red-02);
    border: 2px solid var(--color-red-02) ;
}
.btn.btn-outline.red:hover {
    color: var(--color-red-00);
    border: 2px solid var(--color-red-00);
}

.btn.btn-outline.yellow {
    color: var(--color-yellow-02);
    border: 2px solid var(--color-yellow-02) ;
}
.btn.btn-outline.yellow:hover {
    color: var(--color-yellow-00);
    border: 2px solid var(--color-yellow-00) ;
}

.btn.btn-outline.orange {
    color: var(--color-orange-02);
    border: 2px solid var(--color-orange-02) ;
}
.btn.btn-outline.orange:hover {
    color: var(--color-orange-00);
    border: 2px solid var(--color-orange-00) ;
}

.btn.btn-outline.teal {
    color: var(--color-teal-02);
    border: 2px solid var(--color-teal-02) ;
}
.btn.btn-outline.teal:hover {
    color: var(--color-teal-00);
    border: 2px solid var(--color-teal-00) ;
}

.btn.btn-outline.purple {
    color: var(--color-purple-01);
    border: 2px solid var(--color-purple-01) ;
}
.btn.btn-outline.purple:hover {
    color: var(--color-purple-00);
    border: 2px solid var(--color-purple-00) ;
}

/***  ***/

/*** Text Buttons ***/

.btn-text {    
    color: var(--color-green-00);
    background-color: inherit;
    border: 2px solid transparent;
    opacity: 0.95;
    box-shadow: none;
    text-shadow: var(--Shadow-02);
    padding: 0.25em .5em;
}
.btn.btn-text:hover {
    color: var(--color-green-02);
    transition: all .3s ease-in-out;
}

.btn.btn-text.red{
    color: var(--color-red-01);
}
.btn.btn-text.red:hover {
    color: var(--color-red-02);
}

.btn.btn-text.yellow {
    color: var(--color-yellow-00);
}
.btn.btn-text.yellow:hover {
    color: var(--color-yellow-02);
}

.btn.btn-text.orange {
    color: var(--color-orange-00);
}
.btn.btn-text.orange:hover {
    color: var(--color-orange-02);
}

.btn.btn-text.teal {
    color: var(--color-teal-00);
}
.btn.btn-text.teal:hover {
    color: var(--color-teal-02);
}

.btn.btn-text.purple {
    color: var(--color-purple-00);
}
.btn.btn-text.purple:hover {
    color: var(--color-purple-02);
}

/***  ***/

/*** Icon Buttons ***/

.btn-icon{
    display: flex;
    align-items: center;
    gap: .8rem;
}


/***  ***/

/*** Links Buttons ***/
.btn-link{
    color: inherit;
    text-decoration: none;
}

/***  ***/

/*** floating action Buttons ***/

.btn-float-action{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 1rem;
    border-radius: 50%;
    z-index: var(--z-index-3);
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.medium {
    padding: .5rem 1.75rem;
    border-radius: .5rem;
    font-size: 1rem;
}

.large {
    padding: .625rem 2.25rem;
    border-radius: .725rem;
    font-size: 1.25rem;
}
