<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sinister-UI | Toast</title>
    <link rel="icon" type="image/x-icon" href="../../assets/Sinister-UI.svg">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="../../docs.css">
    <link rel="stylesheet" href="../../landing.css">
</head>
<body>
    <header class="navbar" >
        <p class="navbar-brand">
            <a href="../../index.html"  >Sinister UI</a>
            <small class="subtitle2 small-text" >V1.0</small>
        </p>        
        <nav>
            <a href="../../docs.html" class="btn btn-text teal" >Docs</a>        
        </nav> 

    </header>
    <main class="docs-container">
        <aside class="sidebar">
            <ul>
                <span class="headline4">Get Started</span>
                <a href="../../docs.html" class="btn btn-text btn-link teal text-on-button" >
                    <li>
                        Installation
                    </li>
                </a>
                <a href="../color/color.html" class="btn btn-text btn-link teal text-on-button" >
                    <li>
                        Color
                    </li>
                </a>
                <a href="../typography/typography.html" class="btn btn-text btn-link teal text-on-button" >
                    <li>
                        Typography
                    </li>
                </a>
            </ul>
            <hr class="line-horz">
            <ul>
                <span class="headline4">Components</span>
                <a href="../alert/alert.html" class="btn btn-text btn-link teal text-on-button " >
                    <li>
                        Alert
                    </li>
                </a>
                <a href="../avatar/avatar.html" class="btn btn-text btn-link teal text-on-button" >
                    <li>
                        Avatar
                    </li>
                </a>
                <a href="../badge/badge.html" class="btn btn-text btn-link teal text-on-button" >
                    <li>
                        Badge
                    </li>
                </a>
                <a href="../button/button.html" class="btn btn-text btn-link teal text-on-button " >
                    <li>
                        Button
                    </li>
                </a>
                <a href="../card/card.html" class="btn btn-text btn-link teal text-on-button " >
                    <li>
                        Card
                    </li>
                </a>
                <a href="../grid/grid.html" class="btn btn-text btn-link teal text-on-button " >
                    <li>
                        Grid
                    </li>
                </a>
                <a href="../image/image.html" class="btn btn-text btn-link teal text-on-button " >
                    <li>
                        Image
                    </li>
                </a>
                <a href="../input/input.html" class="btn btn-text btn-link teal text-on-button" >
                    <li>
                        Input
                    </li>
                </a>
                <a href="../list/list.html" class="btn btn-text btn-link teal text-on-button " >
                    <li>
                        List
                    </li>
                </a>
                <a href="../modal/modal.html" class="btn btn-text btn-link teal text-on-button " >
                    <li>
                        Modal
                    </li>
                </a>
                <a href="../navigation/navigation.html" class="btn btn-text btn-link teal text-on-button " >
                    <li>
                        Navigation
                    </li>
                </a>
                <a href="../rating/rating.html" class="btn btn-text btn-link teal text-on-button " >
                    <li>
                        Rating
                    </li>
                </a>
                <a href="../slider/slider.html" class="btn btn-text btn-link teal text-on-button link-active" >
                    <li>
                        Slider
                    </li>
                </a>
                <a href="../toast/toast.html" class="btn btn-text btn-link teal text-on-button " >
                    <li>
                        Toast
                    </li>
                </a>
            </ul>
        </aside>
        
        <div class="docs-body">
            <div class="pagination-head">
                <a href="../rating/rating.html" class="btn btn-text">
                    <span class="material-icons">arrow_back_ios</span>
                </a>
                <h1 class="headline1 text-center">Slider</h1>
                <a class="btn btn-text" href="../toast/toast.html">
                    <span class="material-icons">arrow_forward_ios</span>
                </a>
            </div>
            <p class="body1">
                Sliders allow users to make selections from a range of values.</p>
            <br>
            <section>

                <h2 class="headline2">Slider</h2>
                <p class="body1"> 
                    To implement Slider  use <span class="highlight-txt">slider</span> class with input type <span class="highlight-txt">range</span>.
                </p>
                <div class="showcase">
                    <input type="range" min="1" max="100" value="50" class="slider">
 
                </div>
                <div class="code-snippet">
                    <code>
                        <iframe
                        src="https://carbon.now.sh/embed?bg=rgba%286%2C194%2C112%2C1%29&t=cobalt&wt=none&l=css&width=711&ds=true&dsyoff=15px&dsblur=32px&wc=true&wa=true&pv=44px&ph=30px&ln=false&fl=1&fm=Hack&fs=13.5px&lh=168%25&si=false&es=2x&wm=false&code=%253Cinput%2520type%253D%2522range%2522%2520min%253D%25221%2522%2520max%253D%2522100%2522%2520value%253D%252250%2522%2520class%253D%2522slider%2522%253E"
                        style="width: 100%; height: 169px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                      </iframe>
                    </code>
                </div>
            
            </section>     
            <hr class="line-horz">
          

        </div>

    </main>
    
</body>
</html>