@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');


*{
    /* Black Shades */
    --color-black-00 : #C7C9D9 ;
    --color-black-01 : #8F90A6 ;    /* Border */  
    --color-black-02 : #555770 ;
    --color-black-03 : #28293D ;
    --color-black-04 : #1C1C28 ;

    /* White Shades */
    --color-white-00 : #E4E4EB ;    
    --color-white-01 : #EBEBF0 ;
    --color-white-02 : #F2F2F5 ;
    --color-white-03 : #FAFAFC ;    /* Border */  
    --color-white-04 : #FFFFFF ;
    
    /*Red Shades */    
    --color-red-00 : #FF8080 ;    
    --color-red-01 : #FF5C5C ;
    --color-red-02 : #FF3B3B ;    /* Border */
    --color-red-03 : #E53535 ;    
    --color-red-04 : #623A42 ;
    
    /*Green Shades */
    --color-green-00 : #57EBA1 ;    
    --color-green-01 : #39D98A ;
    --color-green-02 : #06C270 ;       /* Border */
    --color-green-03 : #05A660 ;    
    --color-green-04 : #286053 ;

    /* Blue Shades */    
    --color-blue-00 : #9DBFF9 ;    
    --color-blue-01 : #5B8DEF ;
    --color-blue-02 : #0063F7 ;    /* Border */
    --color-blue-03 : #004FC4 ;    
    --color-blue-04 : #163E72 ;
    
    /* Yellow Shades */    
    --color-yellow-00 : #FDED72 ;    
    --color-yellow-01 : #FDDD48 ;
    --color-yellow-02 : #FFCC00 ;    /* Border */
    --color-yellow-03 : #E5B800 ;     
    --color-yellow-04 : #625B39 ;
    
    /* Orange Shades */    
    --color-orange-00 : #FCCC75 ;    
    --color-orange-01 : #FDAC42 ;
    --color-orange-02 : #FF8800 ;    /* Border */
    --color-orange-03 : #E57A00 ;    
    --color-orange-04 : #624D3B ;
    
    /* Teal Shades */    
    --color-teal-00 : #A9EFF2 ;    
    --color-teal-01 : #73DFE7 ;
    --color-teal-02 : #00CFDE ;    /* Border */
    --color-teal-03 : #00B7C4 ;    
    --color-teal-04 : #3A6264 ;
    
    /* Purple Shades */    
    --color-purple-00 : #DDA5E9 ;    
    --color-purple-01 : #AC5DD9 ;   /* Border */
    --color-purple-02 : #6600CC ; 
    --color-purple-03 : #4D0099 ;  
    --color-purple-04 : #393D69 ;
    
    --color-grey:#bdbdbd;

    /* Backdrop -color */
    --backdrop-color:rgba(0,0,0,.5);

    /* background -color accordingto elements */
    --Elevation--01: #26273B;   /* Focuesd Input */
    --Elevation-00 : #28293D ;   /* Bg, Alert, btn diabled, Input disabled*/
    --Elevation-01 : #2A2B40 ;   /* Card, Pressed, Button*/
    --Elevation-02 : #2C2D42 ;   /* Button Notifiaction Badge */
    --Elevation-03 : #2D2E45 ;   /* Navigation Menu Bar */
    --Elevation-04 : #2F3047 ;   /* Card Raised, Button Raised , DropDownMenu*/
    --Elevation-05 : #30324A ;   /* Picker, Popover */
    --Elevation-06 : #32334D ;   /* Modals, Dialogue */
    
    
    /* Shadows */
    --Shadow--01 : inset 0rem 0.03125rem .25rem rgba(0, 0, 0, 0.32);
    --Shadow-01 : 0rem 0rem 0.0625rem rgba(40, 41, 61, 0.08), 0rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.32);
    --Shadow-02 : 0rem 0rem 0.0625rem rgba(0, 0, 0, 0.04), 0rem 0.125rem .25rem rgba(0, 0, 0, 0.32);
    --Shadow-03 : 0rem 0rem 0.125rem rgba(0, 0, 0, 0.04), 0rem .25rem .5rem rgba(0, 0, 0, 0.32);
    --Shadow-04 : 0rem 0.125rem .25rem rgba(0, 0, 0, 0.04), 0rem .5rem 1rem rgba(0, 0, 0, 0.32);
    --Shadow-05 : 0rem 0.125rem .5rem rgba(0, 0, 0, 0.04), 0rem 1rem 1.5rem rgba(0, 0, 0, 0.32);
    --Shadow-06 : 0rem 0.125rem .5rem rgba(0, 0, 0, 0.08), 0rem 20px 1.25rem rgba(0, 0, 0, 0.32);
    
    /* z-indexing */
    --z-index--1: -1;
    --z-index-0: 0;
    --z-index-1: 1 ;
    --z-index-2: 2;
    --z-index-3: 3;
    
    /* Font variables */
    --font-heading:'Roboto', sans-serif;
    --font-body:'Open Sans', sans-serif;
    
}

body{
    padding: 0;
    margin: 0;
    font-family:var(--font-body);
}

.flex{

    display: flex;
}
.center{
    align-items: center;
    justify-content: center;
}
.space-around{
    align-items: center;
    justify-content: space-around;
}
.space-evenly{
    align-items: center;
    justify-content: space-evenly;
}
.space-between{
    align-items: center;
    justify-content: space-between;
}

.aligin-start{
    align-items: flex-start;

}
.flex-row{
    flex-direction: row;
}
.flex-column{
    flex-direction: column;
}
/* margins */
/* TODO: add more margins */
.m-auto{
    margin: auto ;
}
.ml-0 {
    margin-left: 0;
  }
  .ml-1 {
    margin-left: 1rem;
  }
  .ml-2 {
    margin-left: 2rem;
  }
  .ml-3 {
    margin-left: 3rem;
  }
  .ml-auto {
    margin-left: auto;
  }
  .mt-0 {
    margin-top: 0rem;
  }
  .mt-1 {
    margin-top: 1rem;
  }
  .mt-2 {
    margin-top: 2rem;
  }
  .mt-3 {
    margin-top: 3rem;
  }
  .mb-0 {
    margin-bottom: 0rem;
  }
  .mb-1 {
    margin-bottom: 1rem;
  }
  .mb-2 {
    margin-bottom: 2rem;
  }
  .mb-3 {
    margin-bottom: 3rem;
  }
  .mr-1 {
    margin-right: 1rem;
  }
  .mr-2 {
    margin-right: 2rem;
  }
  .mr-3 {
    margin-right: 3rem;
  }
  .mx-auto {
    margin-right: auto;
    margin-left: auto;
  }
  .gap-1 {
    gap: 1rem;
  }
  
  .flex-wrap {
    flex-wrap: wrap;
  }
  .align-center{
    align-content: center;
  }
  .alignself-center{
    align-self: center;
  }
  .justify-center{
    justify-content: center;
  }