/* toast style */
.toast{
    padding:.25rem .75rem;
    gap:1rem;            /* i have given flex it in later code*/
    background-color: var(--Elevation-05);
    box-shadow: var(--Shadow-05);
    border-radius: .25rem;
    position:absolute;

}
.toast-action{
    margin-left: auto;
    color: var(--color-black-00);
}
.toast,.toast-action{
    display:flex;
    align-items: center;
}
.toast span{
    margin:0
}
.toast-action .material-icons{
    font-size: 1.25rem;
}
/*------ */

/* Toast position */

.toast.bottom{
    bottom: 10%;
    left: 50%;
    transform: translate(-50%,0);
    
}

.toast.top-right{
    top: 10%;
    right:10%;
}

/*------ */